.homepage{
    width: 95%;
    background-color: #e2f8d8;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

header{
    background-color: #fff;
    padding: 10px 10px 10px 20px;
    box-shadow: 1px 2px 10px #000;
    /* text-align: center; */
    margin: auto;
    width: 210vh;
    border: 3px solid green;
    padding: 10px;
}

.Generate{
    background-color: #fff;
    padding: 10px 15px 10px 10px;
    box-shadow: 1px 2px 10px #000;
    font-family: "Lucida Handwriting", cursive;
}

.generateAgain{
    background-color: #fff;
    padding: 10px 15px 10px 10px;
    box-shadow: 1px 2px 10px #000;
    font-family: "Lucida Handwriting", cursive;
}

.home{
    background-color: #fff;
    padding: 10px 15px 10px 10px;
    box-shadow: 1px 2px 10px #000;
    font-family: "Lucida Handwriting", cursive;
}

.GenerateBtn{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    padding: 5px;
    font-family: "Lucida Handwriting", cursive;

}

.logo{
    text-align: center;
    font-size: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tg{
    margin: 0px;
    font-family: "Papyrus", Fantasy;
}

.grid-item {
    border:1px solid black;
    padding: 100px;
    font-size: 20px;
    text-align: left;
}

.dlvlvlvl{
    font-family: "Lucida Handwriting", cursive;
}
